<h2>Results</h2>

<table>
  <tr>
    <th>Zip Code</th>
    <th>Distance</th>
  </tr>
  <% @nearby.each do |loc| %>
  <tr>
    <td><%= loc[:zcta] %></td>
    <td><%= loc[:distance].round(1) %></td>
  </tr>
  <% end %>
</table>
